<h1>Edit Director #<%= @directors.id %></h1>

<form action="http://localhost:3000/update_director/<%= @directors.id %>">

  Name:
  <input name="name" type="string" value="<%= @directors.name %>">

  Bio:
  <input name="bio" type="text" value="<%= @directors.bio %>">

  Date of Birth:
  <input name="dob" type="string" value="<%= @directors.dob %>">

  Source:
  <input name="image_url" type="string" value="<%= @directors.image_url %>">

  <button>Update Director</button>
</form>

<p><a href="/directors/<%= @directors.id %>">Cancel and go back</a>
