<h1>Top Directors</h1>

<h2><%= @directors.name %></h2>

<p><%= @directors.bio %></p>

<p>Date of Birth: <%= @directors.dob %></p>

<img src="<%= @directors.image_url %>" width="200">

<p><a href="http://localhost:3000/directors/">Back</a></p>
<p><a href="http://localhost:3000/delete_director/<%= @directors.id %>">Delete</a></p>

